#change partition permission

# eMMC only
/dev/block/mmcblk0                               0660    root    system
/dev/block/mmcblk0boot0                          0660    root    system
/dev/block/mmcblk0boot1                          0660    root    system
#/dev/misc-sd                                     0660    root    system    N/A

# eMMC/UFS common
/dev/block/by-name/misc      0660    root    system
/dev/block/by-name/boot      0640    root    system
/dev/block/by-name/seccfg    0660    root    system
/dev/block/by-name/proinfo   0660    root    system
/dev/block/by-name/nvram     0660    root    system
/dev/block/by-name/para      0660    root    system
/dev/block/by-name/logo_a    0660    root    system
/dev/block/by-name/logo_b    0660    root    system
/dev/block/by-name/frp       0660    root    system
/dev/block/by-name/md1img_a  0640    root    system
/dev/block/by-name/md1img_b  0640    root    system
/dev/block/by-name/boot_para 0640    root    system

# OTP
/dev/block/by-name/otp    0660   root       system

# Connectivity
/dev/stpwmt               0660   system     system
/dev/wmtdetect            0660   system     system
/dev/fw_log_wmt           0660   system     system
/dev/fw_log_wifi          0660   system     system
/dev/fw_log_bt             0660   system     system

# BT
/dev/stpbt                0660   bluetooth  bluetooth
/dev/fw_log_bt            0660   bluetooth  bluetooth

# GPS
/dev/agpsd               0660   gps        gps
/dev/agpsd2               0660   gps        gps
/dev/agpsd3               0660   gps        gps
/dev/stpgps               0660   gps        system
/dev/fw_log_gps           0660   gps        gps

# wmt
/dev/stpwmt               0660   system     system

# WIFI
/dev/wmtWifi              0660   wifi     wifi
/dev/fw_log_wmt         0660   wifi     wifi
/dev/wmtdetect           0660   wifi     wifi

# FMRadio
/dev/fm                   0660   media     media

# MTK BTIF driver
#/dev/btif                 0600   system     system            Have to look in similar device for correct name

# Trusty driver
/dev/trusty-ipc-dev0      0660   system     system
/dev/nebula-ipc-dev0      0660   system     system

# RPMB (for Trusty)
/dev/block/mmcblk0rpmb    0660   root       system

# TrustonicTEE driver
/dev/teei_fp              0600   system     system
/dev/teei_client          0666   system     system
/dev/teei_config          0666   system     system

#camera
/dev/video0      0660 camera system
/dev/video1      0660 camera system
#/dev/media*      0660 camera system

#v4l2 codec
#/dev/vcu        0660 camera system

#v4l2 camera
#/dev/mtk_hcp     0660 camera system

firmware_directories /etc/firmware/ /odm/firmware/ /vendor/firmware/ /firmware/image/
uevent_socket_rcvbuf_size 16M

# add the read write right of ttyUSB*
/dev/bus/usb/*         	  0660   root       usb
/dev/tty*                 0660   radio      radio

/dev/ccci*                0660   radio      radio
/dev/ttyC*                0660   radio      radio
/sys/kernel/ccci*    ft_info       0644   radio       radio
/sys/kernel/ccci*    md1_postfix   0644   radio       radio

# SGX device node a.k.a mtk display feature

/dev/graphics/*         0666   root       graphics
/dev/mdp_sync              0666   root       root

# Camera
/dev/cam_cal_drv     0660   system     camera
/dev/camera-isp      0660   system     camera
/dev/camera-dpe      0660   system     camera
/dev/camera-fdvt     0660   system     camera
/dev/kd_camera_hw    0660   system     camera

#FOR VIA MODEM
/dev/ttyS*                0660   radio      sdcard_rw
/dev/ttyRB*               0660   radio      radio

# Mali node
/dev/mali0                 0666   system     graphics

# Change ION driver permission
/dev/ion                  0666   system     graphics

#touch
/dev/touch                0660   root       system
#/dev/hotknot              0660   root       system
#/dev/tll                  0660   root       system

#hang_detect
/dev/RT_Monitor           0600   system     system
#/dev/kick_powerkey        0600   system     system

#MTK In-House TEE
/dev/teei*               0660   radio      radio

#elliptic sensor
#/dev/elliptic0            0644   system     system
#/dev/elliptic1            0644   system     system

# mtk display feature
subsystem graphics
    devname uevent_devpath
    dirname /dev/graphics
    
#subsystem drm
#devname uevent_devpath
#dirname /dev/dri

subsystem input
    devname uevent_devpath
    dirname /dev/input

subsystem sound
    devname uevent_devpath
    dirname /dev/snd


